/* Reset properties of elements used */
body {
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background: #EEEEEE;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/**/

a div.fab i {
    color: white;
    display: table-cell;
    /*TODO: Change icon*/
}

header nav {
    padding: 0 20% 0 20%;
    margin: 0;
    background-color: #009688;
    height: 256px !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header nav div.container {
    flex-wrap: wrap;
    margin-left: 2.5%;
}

header nav, header nav a {
    color: white;
}

main {
    padding: calc(256px + 2.5%) 20% 0 20%;
}

main div.section div.card.container img {
    height: 20%;
    /*TODO the image does not match the same margin and padding as the profile one in safari and in firefox
    check the percentages, it may be related to the margin in the cards <-- check!*/
}

main div.section div.card.container div.container {
    flex-direction: column;
    margin-left: 7.5%;
    flex-grow: 1;
    align-items: flex-start;
}

main div.section div.card.container div.container h3, h5, p {
    align-self: stretch;
    /*TODO justify text*/
}

main div.section div.card.container div.container h3, h5 {
    height: 10%;
    /*TODO put the text line to the container baseline -not in the centre of the box-*/
}

main div.section div.card.container div.container p {
    height: 80%;
}

#name {
    flex-basis: 70%;
    height: 50%;
    line-height: 200px;
    text-align: left;
    /*FIXME safari renders differently the line height, resulting in a bad vertical alignment*/
}

#profiles {
    flex-basis: 30%;
    height: 50%;
    line-height: 200px;
    justify-content: space-between;
}

#degree {
    flex-basis: 50%;
    height: 50%;
    text-align: left;
}

#telephone {
    flex-basis: 50%;
    height: 50%;
    text-align: right;
}

.fab {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #009688;
    position: fixed;
    bottom: 5%;
    right: 5%;
    box-shadow: 0 2px 5px #666;
    display: table;
    vertical-align: middle;
    text-align: center;
    /*TODO change alignment -table shit que no entiendo-*/
}

.link {
    text-decoration: none;
}

.container {
    display: flex;
    height: inherit;
    width: inherit;
}

.section {
    margin-bottom: 2.5%;
}

.profile-pic {
    align-self: center;
    border-radius: 128px;
    height: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 2.5% 0 2.5%;
}

.card {
    margin-bottom: 2.5%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 256px;
    border-radius: 2px;
    background-color: white;
}

@media only screen and (max-width: 780px) {
    /* For tablet: */
    main {
        padding: calc(256px + 2.5%) 5% 0 5%;
    }

    header nav {
        padding: 0 5% 0 5%;
    }

}

@media only screen and (max-width: 600px) {
    /* For mobile: */
    main {
        padding: calc(256px + 2.5%) 2.5% 0 2.5%;
    }

    header nav {
        padding: 0 2.5% 0 2.5%;
    }

    /*TODO change FAB media queries -margins-*/
    /*TODO change icon size in mobile*/

}
